/data/training-25plus
.md
project_skeleton.md
!README.md
/provided_files
/pretraining_functions
src/scribal_char_spotting/__pycache__
src/scribal_char_spotting.egg-info
src/scribal_char_spotting/data/__pycache__
src/scribal_char_spotting/tiling/__pycache__

__pycache__/
*.pyc
*.egg-info/
.pytest_cache/

